<app-header titulo = "Datos de Muestra"></app-header>

<ion-content class = "ion-padding">
    <ion-list no-lines>
   <form>

    <p>Fecha</p>
    <ion-item>
        <ion-label>DD MM YY</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
      </ion-item>

    <p>Región</p>
    <ion-item>
        <ion-select placeholder="Select One"cancelText="Cancel" okText="Accept">
            <ion-select-option value="arica">Región de Arica y Parinacota</ion-select-option>
            <ion-select-option value="tarapaca">Región de Tarapacá</ion-select-option>
            <ion-select-option value="antofagasta">Región de Antofagasta</ion-select-option>
            <ion-select-option value="atacama">Región de Atacama</ion-select-option>
            <ion-select-option value="coquimbo">Región de Coquimbo</ion-select-option>
            <ion-select-option value="valparaiso">Región de Valparaíso</ion-select-option>
            <ion-select-option value="metropolitana">Región Metropolitana de Santiago</ion-select-option>
            <ion-select-option value="ohiggins">Región del Libertador General Bernardo O’Higgins</ion-select-option>
            <ion-select-option value="maule">Región del Maule</ion-select-option>
            <ion-select-option value="nuble">Región del Ñuble</ion-select-option>
            <ion-select-option value="biobio">Región del Biobío</ion-select-option>
            <ion-select-option value="araucania">Región de La Araucanía</ion-select-option>
            <ion-select-option value="rios">Región de Los Ríos</ion-select-option>
            <ion-select-option value="lagos">Región de Los Lagos</ion-select-option>
            <ion-select-option value="aysen">Región de Aysén del General Carlos Ibáñez del Campo</ion-select-option>
            <ion-select-option value="magallanes">Región de Magallanes y la Antártica Chilena</ion-select-option>
        </ion-select>

    </ion-item>

    <!--<p style="font-weight:bold">Name</p>-->
   <p>Name</p>
   <ion-item>
        <ion-label hidden></ion-label>
        <ion-input style="border:1px solid black" type='text'></ion-input>
    </ion-item>
   
   <!--<p style="font-weight:bold">Mobile</p>-->
   <p>Movil</p>
    <ion-item>
        <ion-label hidden></ion-label>
        <ion-input style="border:1px solid black" type='tel'></ion-input>
    </ion-item>

    <!--<p style="font-weight:bold">Country</p>-->
    <p>Country</p>
    <ion-item>
        <ion-label hidden></ion-label>
        <ion-input style="border:1px solid black" type='text'></ion-input>
   </ion-item>
   </form>

   
    </ion-list>  
   </ion-content> 

   <ion-footer>
    <ion-row>
        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        fill="outline"
                        color="primary">
                Agregar
            </ion-button>
        </ion-col>

        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        fill="outline"
                        color="primary">
                Cerrar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>