<app-header titulo = "Información de Defectos"></app-header>

<ion-content class = "ion-padding">

    <h2>Agregar Defectos</h2>

    <ion-list no-border>
        <form>
            <p>Grupo</p>
            <ion-item>
                <ion-select placeholder="Select One"cancelText="Cancel" okText="Aceptar">
                    <ion-select-option value="grupo01">Grupo 01</ion-select-option>
                    <ion-select-option value="grupo02">Grupo 02</ion-select-option>
                    <ion-select-option value="grupo03">Grupo 03</ion-select-option>
                    <ion-select-option value="grupo04">Grupo 04</ion-select-option>
                    <ion-select-option value="grupo05">Grupo 05</ion-select-option>
                    <ion-select-option value="grupo06">Grupo 06</ion-select-option>
                    <ion-select-option value="grupo07">Grupo 07</ion-select-option>
                    <ion-select-option value="grupo08">Grupo 08</ion-select-option>
                    <ion-select-option value="grupo09">Grupo 09</ion-select-option>
                    <ion-select-option value="grupo10">Grupo 10</ion-select-option>
                    
                </ion-select>

            </ion-item>


            <p>Defecto</p>
            <ion-item>
                <ion-select placeholder="Select One"cancelText="Cancel" okText="Aceptar">
                    <ion-select-option value="defecto01">Defecto 01</ion-select-option>
                    <ion-select-option value="defecto02">Defecto 02</ion-select-option>
                    <ion-select-option value="defecto03">Defecto 03</ion-select-option>
                    <ion-select-option value="defecto04">Defecto 04</ion-select-option>
                    <ion-select-option value="defecto05">Defecto 05</ion-select-option>
                    <ion-select-option value="defecto06">Defecto 06</ion-select-option>
                    <ion-select-option value="defecto07">Defecto 07</ion-select-option>
                    <ion-select-option value="defecto08">Defecto 08</ion-select-option>
                    <ion-select-option value="defecto09">Defecto 09</ion-select-option>
                    <ion-select-option value="defecto10">Defecto 10</ion-select-option>
                    
                </ion-select>

            </ion-item>
        </form>
    </ion-list>

    <p>Valor Defecto</p>
    <ion-item>
        <ion-label hidden></ion-label>
        <ion-input style="border:1px solid black" type='text'></ion-input>
    </ion-item>

</ion-content>
