<app-header titulo = "Datos Calibre"></app-header>


<ion-content class = "ion-padding">
    <ion-list no-lines>

    <h2>Ingreso de Datos</h2>
    <form>    

        <p>Calibre</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Categoria</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Embalaje</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Peso</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Apariencia</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Nº de Bolsas</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>

        <p>Nº de racimos</p>
        <ion-item>
            <ion-label hidden></ion-label>
            <ion-input style="border:1px solid black" type='text'></ion-input>
        </ion-item>
    </form>
        </ion-list> 
</ion-content>


<ion-footer>
    <ion-row>
        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        fill="outline"
                        color="primary">
                Agregar
            </ion-button>
        </ion-col>

        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        fill="outline"
                        color="primary">
                Cerrar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>