<app-header titulo = "Contacto"></app-header>

<ion-content class = "ion-padding">
    <ion-list no-border>
        <form>

            <p>Contacto</p>
                <ion-item>
                    <ion-label hidden></ion-label>
                    <ion-input placeholder = "contacto@controlcalidad.cl" style="border:1px solid black" type='text'></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>comentario</ion-label>
                    <ion-textarea rows="10" cols="20" placeholder="Escribe tu comentario aquí..."></ion-textarea>
                </ion-item>
        </form>

    </ion-list>
      

</ion-content>
